
.DS_Store
NetflexBase/images/aceIcon.jpg
NetflexBase/images/armstrongAndSig.jpg
NetflexBase/images/escanor.jfif
NetflexBase/images/jojo.jpeg
NetflexBase/images/maki.jpg
NetflexBase/images/mikasa.jpg
NetflexBase/images/mirio.png
NetflexBase/images/netflixref.jpg
NetflexBase/images/roshi.jpg
NetflexBase/images/saitama.jfif
NetflexBase/images/toguro.jpg
NetflexBase/images/toriko.jpg
NetflexBase/index.html
NetflexBase/style.css
WebDemo/images/banner.avif
WebDemo/images/e10.png
WebDemo/index.html
WebDemo/style.css
algo/morning.js
FizzBuzz-Challenge/
LoopChallenges/
VideoPreview/assets/pexels-andrew-kota-6298716.mp4
VideoPreview.zip
algo/algoweek2day5/game.css
algo/algoweek2day5/game.js
algo/algoweek2day5/index.html
algo/morningweek2day2.js
algo/morningweek2day4.js
DojoWeather/assets/cookie.png
DojoWeather/assets/some_clouds.png
DojoWeather/assets/some_rain.png
DojoWeather/assets/some_sun.png
DojoWeather/index.html
DojoWeather/script.js
DojoWeather/style.css
