
.DS_Store
NetflexBase/images/aceIcon.jpg
NetflexBase/images/armstrongAndSig.jpg
NetflexBase/images/escanor.jfif
NetflexBase/images/jojo.jpeg
NetflexBase/images/maki.jpg
NetflexBase/images/mikasa.jpg
NetflexBase/images/mirio.png
NetflexBase/images/netflixref.jpg
NetflexBase/images/roshi.jpg
NetflexBase/images/saitama.jfif
NetflexBase/images/toguro.jpg
NetflexBase/images/toriko.jpg
NetflexBase/index.html
NetflexBase/style.css
WebDemo/images/banner.avif
WebDemo/images/e10.png
WebDemo/index.html
WebDemo/style.css
algo/morning.js
FizzBuzz-Challenge/
LoopChallenges/
VideoPreview/assets/pexels-andrew-kota-6298716.mp4
